.interABetterWorldContainerBG {
  @apply
  lg:bg-[url(/aBetterWorld/a-better-world-desktop.png)]
  bg-cover
  bg-center
  bg-origin-content
  bg-no-repeat
  
  lg:w-screen
  lg:h-screen
}
.interABetterWorld {
  @apply 
  p-4
  lg:py-24
 
  flex
  flex-col
  lg:flex-row-reverse
  
  justify-center
  lg:justify-around
  items-center

  font-Inter
}

.interABetterWorldImage {
  @apply
  lg:invisible
}

.interABetterWorldGroup {
  @apply
  lg:w-[37%]
  lg:text-white
}

.interABetterWorldGroup h2 {
  @apply
  font-Sora
  w-[90%]
  mt-6
  py-4
  
  flex
  flex-col

  text-[2rem]
  lg:text-7xl
  lg:text-white
  leading-tight
  font-thin
}


.interABetterWorldGroup p {
  @apply
  lg:w-[65%]
  lg:py-10
  text-lg
  lg:text-lg
}

.interABetterWorldGroup button {
  @apply
  lg:w-[35%]
  my-10
  w-full
  py-3

  font-semibold
  hover:text-black
  text-white
  lg:text-[#FF7A00]
  lg:bg-white
  bg-[#FF7A00]
    
  rounded-lg
}
